* {
  font-family: "Roboto", sans-serif;
}

nav {
  min-height: 50px;
  background: #212121;
}

header {
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 13px 37px 13px 70px;
  margin-bottom: 0;
}
.menu_item {
  padding-right: 33px;
  border-right: 2px dotted black;
}
.menu_item:last-child {
  border-right: none;
}
.menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.subheader {
  position: absolute;
  width: 100%;
  min-height: 87px;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
}
.subheader_logo-link {
  display: block;
  margin-top: 17px;
}
.subheader_official {
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 7px;
}
.subheader_call {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 22px;
  text-align: right;
}
.subheader_phone {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-align: right;
}
.subheader_btn {
  width: 162px;
  height: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0 -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 20px;
}

.promote {
  background-image: url("../img/bg/uber_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 799px;
  padding: 140px 0 185px 0;
}
.promote_title {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  margin: 0;
}
.promote_subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-top: 5px;
  line-height: 36px;
}
.promote_description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 18px;
  text-align: center;
}
.promote_btn {
  display: block;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 115px;
}

.cause {
  min-height: 849px;
  padding: 20px 0 64px 0;
}
.cause_information_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.cause_information_block_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
  margin-right: 26px;
}
.cause_information_block_wrapper {
  width: 371px;
}
.cause_information_block_wrapper:nth-child(2) {
  width: 341px;
}
.cause_information_block_wrapper_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}
.cause_information_block_wrapper_description {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.lable {
  width: 113px;
  height: 24px;
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  padding: 4px 0;
}
.lable_white {
  background-color: white;
  color: #070716;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 0;
}
.title_white {
  color: #FFFFFF;
}

.mobil {
  min-height: 864px;
  padding: 56px 0 70px 0;
  background-image: url("../img/bg/mobile_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item {
  position: relative;
  width: 320px;
  min-height: 280px;
  margin: 0 auto;
  margin-top: 19px;
  padding: 88px 0 34px 0;
}
.mobil_item_1 {
  background-image: url("../img/pictures/card1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item_2 {
  background-image: url("../img/pictures/card2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item_3 {
  background-image: url("../img/pictures/card3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item_4 {
  background-image: url("../img/pictures/card4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item_5 {
  background-image: url("../img/pictures/card5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item_6 {
  background-image: url("../img/pictures/card6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobil_item_title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.mobil_item_circle {
  display: flex;
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  background-color: #000000;
  border-radius: 100%;
}
.mobil_item_circle::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background: #1EACC7;
}
.mobil_item_circle::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background: #1EACC7;
}

.subtitle {
  text-align: center;
  margin-top: 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
}
.subtitle_white {
  color: #FFFFFF;
}

.choice {
  position: relative;
  background: #070716;
  padding: 57px 0 137px 0;
  z-index: 0;
}
.choice_car_img {
  display: block;
  margin: 0 auto;
  margin-top: 54px;
  z-index: 1;
}
.choice_background_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.choice_text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  text-align: center;
}

.conditions {
  min-height: 917px;
  margin: 66px 0 87px 0;
}
.conditions_title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
}
.conditions_block {
  margin: 31px 0;
}
.conditions_block_last {
  margin-bottom: 0;
}
.conditions_list {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  list-style-type: none;
  color: #222222;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.conditions_list_item {
  position: relative;
  margin-top: 16px;
  margin-left: 60px;
}
.conditions_list_item::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: -34px;
  width: 21px;
  height: 20px;
  background-image: url("../icons/check_blue.png");
}
.conditions .red .conditions_title {
  color: #FF5656;
}
.conditions .red .conditions_list .conditions_list_item::before {
  background-image: url("../icons/check_red.png");
}
.conditions_note {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
  margin-top: 25px;
}

.world {
  min-height: 720px;
  background-image: url("../img/bg/world.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.world_link {
  text-align: center;
  margin-top: 480px;
}
.world_link a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #1FBAD6;
  text-decoration: none;
}

.footer {
  min-height: 171px;
}/*# sourceMappingURL=style.css.map */